{{ if .Site.Data.homepage.newsletter.enable }}
<section class="section section--cta">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{ .Site.Data.homepage.newsletter.title }}</h2>
      <div class="rad-subscription-group">
        <form action="https://gmail.us20.list-manage.com/subscribe/post?u=4ceb6430ba74d04249ce04282&amp;id=4cf5cfcf06" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4ceb6430ba74d04249ce04282_4cf5cfcf06" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light btn-rounded"/>
        </form>
      </div>
      <small id="emailHelp" class="form-text text-muted">{{ .Site.Data.homepage.newsletter.note }}</small>
    </div>
  </div>
</div>
</section>
{{ end }}
