{{ if .Site.Data.homepage.how_it_works.enable }}
<section id="pricing" class="section section--border-bottom rad-animation-group">
  <div class="container">
    <h2 class="rad-fade-down">
      {{ .Site.Data.homepage.pricing.title }}
    </h2>

    <p class="row row--padded lead">
      {{ .Site.Data.homepage.pricing.content | safeHTML }}

      <img
        class="lozad img-responsive"
        src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
        data-src="{{ .Site.Data.homepage.pricing.image.x | absURL }}"
        data-srcset="{{ .Site.Data.homepage.pricing.image.x | absURL }} 1x, {{ .Site.Data.homepage.pricing.image._2x | absURL }} 2x"
        alt="{{ .Site.Data.homepage.pricing.image.alt }}"
        style="width: 80%;"
        hidden
      />
    </p>
  </div>
</section>
{{ end }}
